.gradle/
build/

**/.gradle/
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.log
*.err.log

.idea/
*.iml
out/

node_modules/
dist/

database/*.db
**/database/*.db

medixtractor-back/data/bdpm-cache/
